@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Metal+Mania&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer base {
  @font-face {
    font-family: "Sughayer Separates_26";
    src: url(/SughayerSeparates26-qq7d.ttf)
  }
}


h1 {
  font-family: Metal Mania, sans-serif;
}

.bg-dark {
  background: #293340;
}

.object-dark {
  background: #1c1d26;
}

.text-accent {
  color: #f2994b;
}

.divider {
  font-family: "Sughayer Separates_26";
}

.vignette {
  box-shadow: inset 0 0px 800px 32px rgb(0 0 0 / 0.8)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Domine, sans-serif;
}
