@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Metal+Mania&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #f2994b;
  --color-darker: #1c1d26;
  --color-dark: #293340;
  --font-text: Domine, sans-serif;
  --font-title: Metal Mania, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1, h2, h3 {
  font-family: Metal Mania, sans-serif;
}

.link {
  @apply hover:underline hover:decoration-wavy hover:underline-offset-5 
}

h2 {
  @apply text-3xl sm:text-4xl py-3
}

.vignette {
  box-shadow: inset 0 0px 800px 32px rgb(0 0 0 / 0.8)
}

.vignette-sm {
  box-shadow: inset 0 0px 8px 3px rgb(0 0 0 / 0.2)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Domine, sans-serif;
}

* {
  cursor: url(/cursor.png), auto;
  @apply selection:bg-accent/80 selection:p-2 selection:text-darker
}
